<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>Основное меню</h1>
<h2>Список всех пользователей</h2>
<br>
<a href="/printAllUsers">Вывести информацию по всем пользователям нажми сюда</a>
<br>
<a href="/CreateUser">Создать нового пользователя нажми сюда</a>
<br>
<a>Нажмите на пользователя для отображения информации по нему</a>
<div th:each="user : ${users}">
    <a th:href="@{/printUserById/{id}(id=${user.getId()})}" th:text="${user.getName()}"></a>
    <td>
        <a th:href="@{/deleteUserById/{id}(id=${user.getId()})}">Удалить пользователя</a>
    </td>
</div>
</body>
</html>
