<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>Основное меню</h1>
<h3><a href="/createUser">Создать пользователя</a></h3>
<h3><a href="/printAllUsers">Вывести всех пользователей</a></h3>
<h3><a href="/printUserById?id=1">Вывести пользователя по id</a></h3>
<h3><a href="/developer">Изменить email пользователя</a></h3>
<h3><a href="/developer">Добавить новую зверушку пользователю по id</a></h3>
<h3><a href="/developer">Удалить зверушку по id пользователя</a></h3>
<h3><a href="/developer">Удалить пользователя по id</a></h3>
</body>
</html>