<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form for create pet</title>
</head>
<body>
<H3><a>Введите новую зверушку</a></H3>
<form th:method="POST" th:action="@{/formForCreateNewPet/{userId}(userId=${userId})}" action="formForCreateNewPet.html">
    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" th:value="${pet.name}"/>
    </div>

    <div class="row">
        <label for="whatPet-input">What pet:</label>
        <input id="whatPet-input" name="whatPet" th:value="${pet.whatPet}" type="text"/>
    </div>

    <div class="row">
        <label for="userId-input">User Id:</label>
        <input id="userId-input" name="userId" th:value="${pet.userId}" type="text" readonly="readonly"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>