<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Print pets by user id</title>
    <link type="text/css" link rel="stylesheet" href="../../static/css/printForm.css" th:href="@{/css/printForm.css}">
    <link type="text/css" link rel="stylesheet" href="../../static/css/button.css" th:href="@{/css/button.css}">
</head>
<body>
<h1>Pets:</h1>

<table class="table">
    <thead>
    <tr>
        <th width="30">ID</th>
        <th>Name</th>
        <th>What Pet</th>
        <th width="30">User Id</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pet : ${pets}">
        <td th:text="${pet.id}"></td>
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.whatPet}"></td>
        <td th:text="${pet.userId}"></td>
        <td>
            <a th:href="@{/deletePet/{id}(id=${pet.id})}" href="/deletePet/{id}"> Delete pet</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/formForCreateNewPet/{userId}(userId=${userid})}" href="/formForCreateNewPet/{userId}">Add
    new pet</a>
<a href="/" class="blubtn">Home</a>
</body>
</html>