<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>

<form th:method="post" th:action="@{/createUser}">
    <h1>User Info:</h1>

    <div class="row">
        <label for="surName">Surname</label>
        <input id="surName" name="surname" type="text" th:value="${userDto.surname}"/>
    </div>

    <div class="row">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" th:value="${userDto.name}"/>
    </div>

    <div class="row">
        <label for="email">Email</label>
        <input id="email" name="emailName" type="text" th:value="${userDto.emailName}"/>
    </div>

    <div class="row">
        <label for="petName">Pet Name</label>
        <input id="petName" name="petName" type="text" th:value="${pet.name}"/>
    </div>

    <div class="row">
        <label for="whatPet">What pet</label>
        <input id="whatPet" name="whatPet" type="text" th:value="${pet.whatPet}"/>
    </div>

    <div class="row">
        <label for="community">Community</label>
        <input id="community" name="communityName" type="text" th:value="${userDto.communityName}"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>