<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Print All Users</title>
    <link type="text/css" link rel="stylesheet" href="../../static/css/printForm.css" th:href="@{/css/printForm.css}">
    <link type="text/css" link rel="stylesheet" href="../../static/css/button.css" th:href="@{/css/button.css}">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th width="30">ID</th>
        <th width="150">Surname</th>
        <th width="150">Name</th>
        <th>Email</th>
        <th>Pets</th>
        <th>Community</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.pets}"></td>
        <td th:text="${user.community}"></td>
    </tr>
    ...
    </tbody>
</table>
<a href="/" class="blubtn">Home</a>
</body>
</html>